<!-- 使用 TakWolf -->
<div id="takwolf-comment">
    <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style>
    #takwolf-comment{
        background-color: #eee;
        padding: 2pc;
    }
</style>
